﻿@{
    ViewBag.Title = "Anasayfa";
}
<!--hero section start-->

<section>
    <div class="container">
        <div class="row justify-content-center mb-8">
            <div class="col-12 col-lg-8 text-center">
                <!-- Heading -->
                <h4>
                    Created For <span class="typer text-primary" data-words="Sass,Software,Startup,WebApp,Agency,Marketing,Designer,Developer"></span>
                    <span style="font-size:1.2em;vertical-align:middle;" class="cursor" data-cursorDisplay="|" data-owner="some-id"></span>
                </h4>
                <h1 class="display-4 mt-3 font-w-5">
                    Bootsland All In One Solution For Your Website
                </h1>
                <!-- Text -->
                <p class="lead text-muted">Build a Beautiful, Clean & Modern Design website with flexible Bootstrap components.</p>
            </div>
        </div>
        <!-- / .row -->
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div>
                    <!-- Image -->
                    <img src="~/images/about/07.png" class="img-fluid" alt="...">
                    <div class="video-btn video-btn-pos">
                        <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=P_wKDMcr1Tg"><i class="la la-play"></i></a>
                        <div class="spinner-eff">
                            <div class="spinner-circle circle-1"></div>
                            <div class="spinner-circle circle-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / .container -->

</section>

<!--hero section end-->
<!--body content start-->

<div class="page-content">

    <!--services start-->

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-4 col-lg-4 mb-8 mb-lg-0">
                    <div class="px-4 py-7 rounded bg-white shadow hover-translate">
                        <div>
                            <svg class="feather feather-layers bg-primary p-2 rounded" width="60" height="60" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                        </div>
                        <h5 class="mt-4 mb-3">Creative UI/UX</h5>
                        <p>Serspiciatis unde omnis iste natus error sit doloremque laudantium, totam rem aperiam.</p>
                        <a class="btn-link" href="#">Read Details</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-sm-6">
                    <div class="px-4 py-7 rounded text-center hover-translate">
                        <div>
                            <svg class="feather feather-move bg-primary p-2 rounded" width="60" height="60" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><polyline points="5 9 2 12 5 15"></polyline><polyline points="9 5 12 2 15 5"></polyline><polyline points="15 19 12 22 9 19"></polyline><polyline points="19 9 22 12 19 15"></polyline><line x1="2" y1="12" x2="22" y2="12"></line><line x1="12" y1="2" x2="12" y2="22"></line></svg>
                        </div>
                        <h5 class="mt-4 mb-3">Flexibility</h5>
                        <p>Serspiciatis unde omnis iste natus error sit doloremque laudantium, totam rem aperiam.</p>
                        <a class="btn-link" href="#">Read Details</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-sm-6 mt-6 mt-sm-0">
                    <div class="px-4 py-7 rounded text-right bg-white shadow hover-translate">
                        <div>
                            <svg class="feather feather-twitch bg-primary p-2 rounded" width="60" height="60" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><path d="M21 2H3v16h5v4l4-4h5l4-4V2zm-10 9V7m5 4V7"></path></svg>
                            <h5 class="mt-4 mb-3">Easy Code</h5>
                            <p>Serspiciatis unde omnis iste natus error sit doloremque laudantium, totam rem aperiam.</p>
                            <a class="btn-link" href="#">Read Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--services end-->
    <!--about start-->

    <section>
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-lg-6 order-lg-1 mb-8 mb-lg-0">
                    <img src="~/images/about/03.png" alt="Image" class="img-fluid">
                </div>
                <div class="col-12 col-lg-6 col-xl-5">
                    <div class="mb-5">
                        <span class="h6 text-primary">
                            About Bootsland
                        </span>
                        <h2 class="mt-3 font-w-5">A Creative landing Page</h2>
                        <p class="lead">We use the latest technologies it voluptatem accusantium doloremque.</p>
                    </div>
                    <div class="">
                        <div class="mb-3">
                            <div class="d-flex align-items-start">
                                <div class="badge-primary-soft rounded p-1">
                                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check">
                                        <polyline points="20 6 9 17 4 12"></polyline>
                                    </svg>
                                </div>
                                <p class="mb-0 ml-3">We use the latest technologies it voluptatem accusantium doloremqu</p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex align-items-start">
                                <div class="badge-primary-soft rounded p-1">
                                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check">
                                        <polyline points="20 6 9 17 4 12"></polyline>
                                    </svg>
                                </div>
                                <p class="mb-0 ml-3">Bootsland Landing Page Build With Static Bootstarp Code</p>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex align-items-start">
                                <div class="badge-primary-soft rounded p-1">
                                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check">
                                        <polyline points="20 6 9 17 4 12"></polyline>
                                    </svg>
                                </div>
                                <p class="mb-0 ml-3">All types of businesses need access to development</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--about end-->
    <!--counter start-->

    <section>
        <div class="container">
            <div class="row text-center align-items-center justify-content-between">
                <div class="col-lg-3 col-md-4">
                    <div class="counter bg-white rounded py-8 px-3 shadow mb-5 mb-md-0">
                        <div class="counter-desc">
                            <span class="count-number text-primary display-4" data-to="234" data-speed="10000">234</span>
                            <span class="display-4">k</span>
                            <h5 class="mb-0 mt-3">Year Of Experience</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="counter bg-white rounded py-8 px-3 shadow mb-5">
                        <div class="counter-desc">
                            <span class="count-number text-success display-4" data-to="234" data-speed="10000">234</span>
                            <span class="display-4">k</span>
                            <h5 class="mb-0 mt-3">Completed Project</h5>
                        </div>
                    </div>
                    <div class="counter bg-white rounded py-8 px-3 shadow mb-5 mb-md-0">
                        <div class="counter-desc">
                            <span class="count-number text-warning display-4" data-to="455" data-speed="10000">455</span>
                            <span class="display-4">k</span>
                            <h5 class="mb-0 mt-3">Member</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="counter bg-white rounded py-8 px-3 shadow">
                        <div class="counter-desc">
                            <span class="count-number text-danger display-4" data-to="455" data-speed="10000">455</span>
                            <span class="display-4">k</span>
                            <h5 class="mb-0 mt-3">Satisfied Customers</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--counter end-->
    <!--team start-->

    <section class="custom-py-2 position-relative bg-dark parallaxie" data-bg-img="~/images/bg/02.png">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-12 col-md-12 col-lg-8 mb-8 mb-lg-0">
                    <div class="mb-8">
                        <span class="h6 text-primary">
                            Bootsland Team
                        </span>
                        <h2 class="mt-3 font-w-5 text-white">Meet Our Team Of Expert</h2>
                        <p class="lead mb-0">All types of businesses need access to development resources, so we give you the option to decide how much you need to use.</p>
                    </div>
                </div>
            </div>
            <!-- / .row -->
            <div class="row justify-content-center">
                <div class="col">
                    <div class="owl-carousel" data-dots="false" data-nav="true" data-items="3" data-md-items="2" data-sm-items="2" data-margin="30" data-autoplay="true">
                        <div class="item">
                            <div class="bg-primary-soft rounded text-center p-5">
                                <div class="mb-3">
                                    <img class="img-fluid rounded-top d-inline" src="~/images/team/01.png" alt="">
                                </div>
                                <div>
                                    <h5 class="mb-1 text-light">Vinit Saw</h5>
                                    <small class="text-primary mb-3 d-block">Manager</small>
                                    <p>Build a Beautiful, Clean & Modern Design website.</p>
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a class="text-muted" href="#"><i class="la la-facebook h4"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="text-muted h6" href="#"><i class="la la-dribbble h4"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="text-muted h6" href="#"><i class="la la-twitter h4"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="text-muted h6" href="#"><i class="la la-linkedin h4"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="bg-primary-soft rounded text-center p-5">
                                <div class="mb-3">
                                    <img class="img-fluid rounded-top d-inline" src="~/images/team/02.png" alt="">
                                </div>
                                <div>
                                    <h5 class="mb-1 text-light">Nina Loe</h5>
                                    <small class="text-primary mb-3 d-block">Ceo</small>
                                    <p>Build a Beautiful, Clean & Modern Design website.</p>
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a class="text-muted" href="#"><i class="la la-facebook h4"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="text-muted h6" href="#"><i class="la la-dribbble h4"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="text-muted h6" href="#"><i class="la la-twitter h4"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="text-muted h6" href="#"><i class="la la-linkedin h4"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="bg-primary-soft rounded text-center p-5">
                                <div class="mb-3">
                                    <img class="img-fluid rounded-top d-inline" src="~/images/team/03.png" alt="">
                                </div>
                                <div>
                                    <h5 class="mb-1 text-light">Renut John</h5>
                                    <small class="text-primary mb-3 d-block">Founder</small>
                                    <p>Build a Beautiful, Clean & Modern Design website.</p>
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a class="text-muted" href="#"><i class="la la-facebook h4"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="text-muted h6" href="#"><i class="la la-dribbble h4"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="text-muted h6" href="#"><i class="la la-twitter h4"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="text-muted h6" href="#"><i class="la la-linkedin h4"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="bg-primary-soft rounded text-center p-5">
                                <div class="mb-3">
                                    <img class="img-fluid rounded-top d-inline" src="~/images/team/02.png" alt="">
                                </div>
                                <div>
                                    <h5 class="mb-1 text-light">Celio Jemy</h5>
                                    <small class="text-primary mb-3 d-block">Founder</small>
                                    <p>Build a Beautiful, Clean & Modern Design website.</p>
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a class="text-muted" href="#"><i class="la la-facebook h4"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="text-muted h6" href="#"><i class="la la-dribbble h4"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="text-muted h6" href="#"><i class="la la-twitter h4"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="text-muted h6" href="#"><i class="la la-linkedin h4"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape-1" style="height: 200px; overflow: hidden;">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 271.49,-50.00 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #fff;"></path>
            </svg>
        </div>
        <div class="shape-1 bottom" style="height: 200px; overflow: hidden;">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path>
            </svg>
        </div>
    </section>

    <!--team end-->
    <!--faq start-->

    <section class="pt-0">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-lg-6 mb-8 mb-lg-0">
                    <img src="~/images/about/04.png" alt="Image" class="img-fluid">
                </div>
                <div class="col-12 col-lg-6 col-xl-5">
                    <div id="accordion" class="accordion">
                        <div class="card border-0 active mb-2">
                            <div class="card-header bg-transparent border mb-0">
                                <h6 class="mb-0">
                                    <a class="text-dark" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true">When our power of choice Bootsland ?</a>
                                </h6>
                            </div>
                            <div id="collapse1" class="collapse show" data-parent="#accordion">
                                <div class="card-body text-muted">Looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered Many desktop publishing packages and web page editors now use Nor again is there anyone who loves or pursues or desires to obtain pain of itself.</div>
                            </div>
                        </div>
                        <div class="card border-0 mb-2">
                            <div class="card-header bg-transparent border mb-0">
                                <h6 class="mb-0">
                                    <a class="text-dark" data-toggle="collapse" data-parent="#accordion" href="#collapse2">Nam libero tempore, cum soluta nobis ?</a>
                                </h6>
                            </div>
                            <div id="collapse2" class="collapse" data-parent="#accordion">
                                <div class="card-body text-muted">Looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered Many desktop publishing packages and web page editors now use Nor again is there anyone who loves or pursues or desires to obtain pain of itself.</div>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-header bg-transparent border mb-0">
                                <h6 class="mb-0">
                                    <a class="text-dark" data-toggle="collapse" data-parent="#accordion" href="#collapse3">which is the same as saying through ?</a>
                                </h6>
                            </div>
                            <div id="collapse3" class="collapse" data-parent="#accordion">
                                <div class="card-body text-muted">Looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered Many desktop publishing packages and web page editors now use Nor again is there anyone who loves or pursues or desires to obtain pain of itself.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--faq end-->
    <!--pricing start-->

    <section>
        <div class="container">
            <div class="row align-items-end mb-8">
                <div class="col-12 col-md-12 col-lg-5">
                    <div>
                        <span class="h6 text-primary">
                            Price Table
                        </span>
                        <h2 class="mt-4 mb-0 font-w-5">Simple, Fair and affordable prices for all.</h2>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-6 ml-auto">
                    <div>
                        <p class="lead mb-0">All types of businesses need access to development resources, so we give you the option to decide how much you need to use.</p>
                    </div>
                </div>
            </div>
            <!-- / .row -->
            <div class="row align-items-center">
                <div class="col-12 col-lg-4 mb-8 mb-lg-0">
                    <!-- Card -->
                    <div class="card border-0 hover-translate">
                        <!-- Body -->
                        <div class="card-body py-11 px-6">
                            <!-- Features -->
                            <div class="d-flex align-items-start justify-content-between">
                                <!-- Text -->
                                <p>Free Custom Domain</p>
                                <!-- Check -->
                                <div class="ml-4">
                                    <i class="la la-check text-primary font-weight-bold"></i>
                                </div>
                            </div>
                            <div class="d-flex align-items-start justify-content-between">
                                <!-- Text -->
                                <p>Monthly updates</p>
                                <!-- Check -->
                                <div class="ml-4">
                                    <i class="la la-check text-primary font-weight-bold"></i>
                                </div>
                            </div>
                            <div class="d-flex align-items-start justify-content-between">
                                <!-- Text -->
                                <p>Outstanding Support</p>
                                <!-- Check -->
                                <div class="ml-4">
                                    <i class="la la-check text-primary font-weight-bold"></i>
                                </div>
                            </div>
                            <div class="d-flex align-items-start justify-content-between">
                                <!-- Text -->
                                <p>Happy Customers</p>
                                <!-- Check -->
                                <div class="ml-4">
                                    <i class="la la-check text-primary font-weight-bold"></i>
                                </div>
                            </div>
                            <!-- Badge -->
                            <div class="text-center my-5">
                                <span class="badge shadow badge-primary">
                                    <span class="h6 text-uppercase">Basic</span>
                                </span>
                            </div>
                            <!-- Price -->
                            <div class="d-flex justify-content-center">
                                <span class="h2 mb-0 mt-2">$</span>
                                <span class="price display-2">29</span>
                                <span class="h2 align-self-end text-primary">/mo</span>
                            </div>
                            <!-- Text -->
                            <p class="text-center text-muted mb-6 mb-md-8">Per user</p>
                            <!-- Button --> <a href="#" class="btn btn-block btn-outline-primary mt-5">
                                Choose Packege
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 mb-8 mb-lg-0">
                    <!-- Card -->
                    <div class="card bg-primary shadow border-0">
                        <!-- Body -->
                        <div class="card-body py-11 px-6">
                            <!-- Features -->
                            <div class="d-flex align-items-start justify-content-between">
                                <!-- Text -->
                                <p class="text-light">Free Custom Domain</p>
                                <!-- Check -->
                                <div class="ml-4">
                                    <i class="la la-check text-light font-weight-bold"></i>
                                </div>
                            </div>
                            <div class="d-flex align-items-start justify-content-between">
                                <!-- Text -->
                                <p class="text-light">Monthly updates</p>
                                <!-- Check -->
                                <div class="ml-4">
                                    <i class="la la-check text-light font-weight-bold"></i>
                                </div>
                            </div>
                            <div class="d-flex align-items-start justify-content-between">
                                <!-- Text -->
                                <p class="text-light">Outstanding Support</p>
                                <!-- Check -->
                                <div class="ml-4">
                                    <i class="la la-check text-light font-weight-bold"></i>
                                </div>
                            </div>
                            <div class="d-flex align-items-start justify-content-between">
                                <!-- Text -->
                                <p class="text-light">Happy Customers</p>
                                <!-- Check -->
                                <div class="ml-4">
                                    <i class="la la-check text-light font-weight-bold"></i>
                                </div>
                            </div>
                            <!-- Badge -->
                            <div class="text-center my-5">
                                <span class="badge shadow badge-light">
                                    <span class="h6 text-uppercase">Standard</span>
                                </span>
                            </div>
                            <!-- Price -->
                            <div class="d-flex justify-content-center text-white">
                                <span class="h2 mb-0 mt-2">$</span>
                                <span class="price display-2">59</span>
                                <span class="h2 align-self-end">/mo</span>
                            </div>
                            <!-- Text -->
                            <p class="text-center text-light mb-6 mb-md-8">Per user</p>
                            <!-- Button --> <a href="#" class="btn btn-block btn-outline-light mt-5">
                                Choose Package
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <!-- Card -->
                    <div class="card border-0 hover-translate">
                        <!-- Body -->
                        <div class="card-body py-11 px-6">
                            <!-- Features -->
                            <div class="d-flex align-items-start justify-content-between">
                                <!-- Text -->
                                <p>Free Custom Domain</p>
                                <!-- Check -->
                                <div class="ml-4">
                                    <i class="la la-check text-primary font-weight-bold"></i>
                                </div>
                            </div>
                            <div class="d-flex align-items-start justify-content-between">
                                <!-- Text -->
                                <p>Monthly updates</p>
                                <!-- Check -->
                                <div class="ml-4">
                                    <i class="la la-check text-primary font-weight-bold"></i>
                                </div>
                            </div>
                            <div class="d-flex align-items-start justify-content-between">
                                <!-- Text -->
                                <p>Outstanding Support</p>
                                <!-- Check -->
                                <div class="ml-4">
                                    <i class="la la-check text-primary font-weight-bold"></i>
                                </div>
                            </div>
                            <div class="d-flex align-items-start justify-content-between">
                                <!-- Text -->
                                <p>Happy Customers</p>
                                <!-- Check -->
                                <div class="ml-4">
                                    <i class="la la-check text-primary font-weight-bold"></i>
                                </div>
                            </div>
                            <!-- Badge -->
                            <div class="text-center my-5">
                                <span class="badge shadow badge-primary">
                                    <span class="h6 text-uppercase">Extended</span>
                                </span>
                            </div>
                            <!-- Price -->
                            <div class="d-flex justify-content-center">
                                <span class="h2 mb-0 mt-2">$</span>
                                <span class="price display-2">89</span>
                                <span class="h2 align-self-end text-primary">/mo</span>
                            </div>
                            <!-- Text -->
                            <p class="text-center text-muted mb-6 mb-md-8">Per user</p>
                            <!-- Button --> <a href="#" class="btn btn-block btn-outline-primary mt-5">
                                Choose Package
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / .row -->
        </div>
        <!-- / .container -->
    </section>

    <!--pricing end-->
    <!--client start-->

    <section class="p-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="owl-carousel no-pb" data-dots="false" data-items="6" data-md-items="4" data-sm-items="3" data-xs-items="2" data-margin="30" data-autoplay="true">
                        <div class="item">
                            <div class="clients-logo">
                                <img class="img-fluid" src="~/images/client/07.png" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="clients-logo">
                                <img class="img-fluid" src="~/images/client/08.png" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="clients-logo">
                                <img class="img-fluid" src="~/images/client/09.png" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="clients-logo">
                                <img class="img-fluid" src="~/images/client/10.png" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="clients-logo">
                                <img class="img-fluid" src="~/images/client/11.png" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="clients-logo">
                                <img class="img-fluid" src="~/images/client/12.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--client end-->
    <!--blog start-->

    <section>
        <div class="container">
            <div class="row align-items-end mb-5">
                <div class="col-12 col-md-12 col-lg-4">
                    <div>
                        <span class="badge badge-primary-soft p-2">
                            <i class="la la-bold ic-3x rotation"></i>
                        </span>
                        <h2 class="mt-4 mb-0 font-w-5">From Our Blog List Latest Feed</h2>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-6 ml-auto">
                    <div>
                        <p class="lead mb-0">All types of businesses need access to development resources, so we give you the option to decide how much you need to use.</p>
                    </div>
                </div>
            </div>
            <!-- / .row -->
            <div class="row">
                <div class="col-12 col-lg-4 mb-6 mb-lg-0">
                    <!-- Blog Card -->
                    <div class="card border-0 bg-transparent">
                        <div class="position-absolute bg-white shadow-primary text-center p-2 rounded ml-3 mt-3">
                            15
                            <br>July
                        </div>
                        <img class="card-img-top shadow rounded" src="~/images/blog/01.png" alt="Image">
                        <div class="card-footer bg-transparent border-0 pt-5">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item pr-4">
                                    <a href="#" class="text-dark"><i class="ti-comments mr-1 text-muted"></i> 131</a>
                                </li>
                                <li class="list-inline-item pr-4">
                                    <a href="#" class="text-dark"><i class="ti-eye mr-1 text-muted"></i> 255</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="text-dark"><i class="ti-comments mr-1 text-muted"></i> 14</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body pt-0">
                            <h2 class="h5 font-weight-medium">
                                Bootsland Perfect Performance landing Page
                            </h2>
                            <p class="mb-5">Businesses need access to development resources serspiciatis unde omnis iste natus error.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <a class="text-dark bg-light px-3 py-1 rounded" href="#">Sass</a>
                                </div> <a class="btn-link text-muted" href="blog-single.html">Read More</a>
                            </div>
                        </div>
                        <div></div>
                    </div>
                    <!-- End Blog Card -->
                </div>
                <div class="col-12 col-lg-4 mb-6 mb-lg-0">
                    <!-- Blog Card -->
                    <div class="card border-0 bg-transparent">
                        <div class="position-absolute bg-white shadow-primary text-center p-2 rounded ml-3 mt-3">
                            15
                            <br>July
                        </div>
                        <img class="card-img-top shadow rounded" src="~/images/blog/02.png" alt="Image">
                        <div class="card-footer bg-transparent border-0 pt-5">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item pr-4">
                                    <a href="#" class="text-dark"><i class="ti-comments mr-1 text-muted"></i> 131</a>
                                </li>
                                <li class="list-inline-item pr-4">
                                    <a href="#" class="text-dark"><i class="ti-eye mr-1 text-muted"></i> 255</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="text-dark"><i class="ti-comments mr-1 text-muted"></i> 14</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body pt-0">
                            <h2 class="h5 font-weight-medium">
                                The most powerfull template that make you.
                            </h2>
                            <p class="mb-5">Businesses need access to development resources serspiciatis unde omnis iste natus error.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <a class="text-dark bg-light px-3 py-1 rounded" href="#">Marketing</a>
                                </div> <a class="btn-link text-muted" href="blog-single.html">Read More</a>
                            </div>
                        </div>
                        <div></div>
                    </div>
                    <!-- End Blog Card -->
                </div>
                <div class="col-12 col-lg-4">
                    <!-- Blog Card -->
                    <div class="card border-0 bg-transparent">
                        <div class="position-absolute bg-white shadow-primary text-center p-2 rounded ml-3 mt-3">
                            15
                            <br>July
                        </div>
                        <img class="card-img-top shadow rounded" src="~/images/blog/03.png" alt="Image">
                        <div class="card-footer bg-transparent border-0 pt-5">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item pr-4">
                                    <a href="#" class="text-dark"><i class="ti-comments mr-1 text-muted"></i> 131</a>
                                </li>
                                <li class="list-inline-item pr-4">
                                    <a href="#" class="text-dark"><i class="ti-eye mr-1 text-muted"></i> 255</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="text-dark"><i class="ti-comments mr-1 text-muted"></i> 14</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body pt-0">
                            <h2 class="h5 font-weight-medium">
                                A brand for a company is like a reputation person.
                            </h2>
                            <p class="mb-5">Businesses need access to development resources serspiciatis unde omnis iste natus error.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <a class="text-dark bg-light px-3 py-1 rounded" href="#">Landing</a>
                                </div> <a class="btn-link text-muted" href="blog-single.html">Read More</a>
                            </div>
                        </div>
                        <div></div>
                    </div>
                    <!-- End Blog Card -->
                </div>
            </div>
        </div>
    </section>

    <!--blog end-->

</div>

<!--body content end--> 