﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
<link href="~/images/favicon.png" rel="icon">
    @*<link href="~/Content/theme-plugin.css" rel="stylesheet" />
    <link href="~/Content/theme.min.css" rel="stylesheet" />*@
</head>
<body>
    <div class="page-wrapper">

        <!-- preloader start -->

        <div id="ht-preloader">
            <div class="loader clear-loader">
                <span></span>
                <p>BootsLand</p>
            </div>
        </div>
        <header class="site-header">
            <div id="header-wrap">
                <div class="container">
                    <div class="row">
                        <!--menu start-->
                        <div class="col d-flex align-items-center justify-content-between">
                            <a class="navbar-brand logo text-dark h2 mb-0" href="index.html">
                                Boots<span class="text-primary font-weight-bold">Land.</span>
                            </a>
                            <nav class="navbar navbar-expand-lg ml-auto navbar-light">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNav">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle active" href="#" data-toggle="dropdown">Home</a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item" href="index.html">Landing 1</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="index-2.html">Landing 2</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="index-3.html">Landing 3</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="index-4.html">Landing 4</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="index-5.html">Landing 5</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="index-6.html">Landing 6</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="index-7.html">Landing 7</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="index-8.html">Landing 8</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="index-9.html">Landing 9</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="index-10.html">Landing 10</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Pages</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-submenu">
                                                    <a class="dropdown-item dropdown-toggle" href="#">Company</a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a class="dropdown-item" href="about-us-1.html">About Us</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="about-us-2.html">About Us 2</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="career.html">Career</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="career-single.html">Career Single</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown-submenu">
                                                    <a class="dropdown-item dropdown-toggle" href="#">Blogs</a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a class="dropdown-item" href="blog-card.html">Blog Card</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="blog-listing.html">Blog Listing 1</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="blog-listing-2.html">Blog Listing 2</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="blog-single.html">Blog Single</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown-submenu">
                                                    <a class="dropdown-item dropdown-toggle" href="#">Portfolio</a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a class="dropdown-item" href="portfolio.html">Portfolio Card</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="portfolio-single.html">Portfolio Single</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown-submenu">
                                                    <a class="dropdown-item dropdown-toggle" href="#">Contacts</a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a class="dropdown-item" href="contact-us.html">Contact 1</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="contact-us-2.html">Contact 2</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown-submenu">
                                                    <a class="dropdown-item dropdown-toggle" href="#">Account</a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a class="dropdown-item" href="login.html">Sign In</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="login-2.html">Sign In 2</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="signup.html">Sign Up</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown-submenu">
                                                    <a class="dropdown-item dropdown-toggle" href="#">Utilities</a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a class="dropdown-item" href="pricing.html">Pricing</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="faq.html">Faq</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="maintenance.html">Maintenance</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="coming-soon.html">Coming Soon</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="error-404.html">Error 404</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="privacy-policy.html">Privacy & Policy</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="terms-and-conditions.html">Terms & Conditions</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Shop</a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item" href="product-grid.html">Product Grid</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="product-list.html">Product List</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="product-single.html">Product Single</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="product-cart.html">Cart</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="product-checkout.html">Checkout</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="order-complete.html">Order Completed</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Features</a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item" href="feature-accordion.html">Accordion</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="feature-blog.html">Blog</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="feature-counter.html">Counter</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="feature-icon-box.html">Feature Box</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="feature-hero.html">Hero Banner</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="feature-gallery.html">Lightbox Gallery</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="feature-pricing.html">Price Table</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="feature-video.html">Video Lightbox</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="feature-team.html">Team</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="feature-testimonial.html">Testimonial</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                            <a class="btn btn-primary ml-8 d-none d-lg-block" href="#">Buy Now</a>
                        </div>
                        <!--menu end-->
                    </div>
                </div>
            </div>
        </header>


        @RenderBody()


        <footer class="py-11 bg-primary position-relative" data-bg-img="~/images/bg/03.png">
            <div class="shape-1" style="height: 150px; overflow: hidden;">
                <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                    <path d="M0.00,49.98 C150.00,150.00 271.49,-50.00 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #fff;"></path>
                </svg>
            </div>
            <div class="container mt-11">
                <div class="row">
                    <div class="col-12 col-lg-5 col-xl-4 mr-auto mb-6 mb-lg-0">
                        <div class="subscribe-form bg-warning-soft p-5 rounded">
                            <h5 class="mb-4 text-white">Newsletter</h5>
                            <h6 class="text-light">Subscribe Our Newsletter</h6>
                            <form id="mc-form" class="group">
                                <input type="email" value="" name="EMAIL" class="email form-control" id="mc-email" placeholder="Email Address" required="" style="height: 60px;">
                                <input class="btn btn-outline-light btn-block mt-3 mb-2" type="submit" name="subscribe" value="Subscribe">
                            </form> <small class="text-light">Get started for 1 Month free trial No Purchace required.</small>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-7">
                        <div class="row">
                            <div class="col-12 col-sm-4 navbar-dark">
                                <h5 class="mb-4 text-white">Pages</h5>
                                <ul class="navbar-nav list-unstyled mb-0">
                                    <li class="mb-3 nav-item">
                                        <a class="nav-link" href="about-us-1.html">About</a>
                                    </li>
                                    <li class="mb-3 nav-item">
                                        <a class="nav-link" href="product-grid.html">Shop</a>
                                    </li>
                                    <li class="mb-3 nav-item">
                                        <a class="nav-link" href="faq.html">Faq</a>
                                    </li>
                                    <li class="mb-3 nav-item">
                                        <a class="nav-link" href="blog-card.html">Blogs</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="contact-us.html">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-4 mt-6 mt-sm-0 navbar-dark">
                                <h5 class="mb-4 text-white">Service</h5>
                                <ul class="navbar-nav list-unstyled mb-0">
                                    <li class="mb-3 nav-item">
                                        <a class="nav-link" href="#">Content Writing</a>
                                    </li>
                                    <li class="mb-3 nav-item">
                                        <a class="nav-link" href="#">Documentation</a>
                                    </li>
                                    <li class="mb-3 nav-item">
                                        <a class="nav-link" href="login.html">Account</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="career.html">Careers</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-4 mt-6 mt-sm-0 navbar-dark">
                                <h5 class="mb-4 text-white">Legal</h5>
                                <ul class="navbar-nav list-unstyled mb-0">
                                    <li class="mb-3 nav-item">
                                        <a class="nav-link" href="terms-and-conditions.html">Term Of Service</a>
                                    </li>
                                    <li class="mb-3 nav-item">
                                        <a class="nav-link" href="privacy-policy.html">Privacy Policy</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Support</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-12 col-sm-6">
                                <a class="footer-logo text-white h2 mb-0" href="index.html">
                                    Boots<span class="font-weight-bold">Land.</span>
                                </a>
                            </div>
                            <div class="col-12 col-sm-6 mt-6 mt-sm-0">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item">
                                        <a class="text-light ic-2x" href="#"><i class="la la-facebook"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="text-light ic-2x" href="#"><i class="la la-dribbble"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="text-light ic-2x" href="#"><i class="la la-instagram"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="text-light ic-2x" href="#"><i class="la la-twitter"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="text-light ic-2x" href="#"><i class="la la-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-white text-center mt-8">
                    <div class="col">
                        <hr class="mb-8">Copyright 2019 Bootsland Theme by <u><a class="text-white" href="#">ThemeHt</a></u> | All Rights Reserved
                    </div>
                </div>
            </div>
        </footer>

        <!--footer end-->

    </div>

    <!-- page wrapper end -->
    <!--back-to-top start-->

    @*<div class="scroll-top">
        <a class="smoothscroll" href="#top">
            <i class="las la-angle-up"></i>
        </a>
    </div>*@
    <div class="scroll-top" style="background-color:#fc9f00">
        <a class="smoothscroll" href="#top">
            <img src="https://www.hotkey.com.tr/assets/img/hotkey-rocket.png" alt="hotkey ajans" height="35">
        </a>
    </div>


    

    @*<script src="~/Scripts/theme-plugin.js"></script>
    <script src="~/Scripts/theme-script.js"></script>*@
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
